.App
{
  background-color: #161716;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 20px;
  padding-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 20px;

}
.App .background
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./bg.jpg');
  background-size: contain;
  opacity: 0.1;
  z-index: 1010;
}
.App .foreground
{
  z-index: 1012;
}
.App .imgcover
{
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 100px;
  border: 3px solid white;
  margin-top: 40px;
}
.App img
{
  width: 160px;
  height: auto;
  height: 100%;
  object-fit: contain;
}
.App h3
{
  color: white;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.App h4
{
  color: white;
  font-size: 1.0rem;
  letter-spacing: 1px;
  font-weight: lighter;

}
.App h5
{
  color: white;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-top: 0px;
}
.App .eachitem
{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;
  min-height: 80px;
  overflow-x: scroll;
}
.App .eachitem a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.App .eachitem img
{
  width: 40px;
  margin-right: 10px;
}
.App button , .App .speciala
{
  background-color: white;
  color: #161716;
  padding: 10px;
  border: none;
  font-weight: bolder;
  border-radius: 5px;
  width: 80vw;
  margin-left: 0vw;
  margin-top: 40px;
  font-size: 1.0rem;
  margin-bottom: 20px;
  text-decoration: none;
  margin-top: 60px;

}
.App .eachholding
{
  margin-bottom: 30px;
}

.App .selector 
{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 90%;
}
.App .selector button
{
  margin: 0px;
}
.App .selector button
{
  background-color: transparent;
  color: white;
  line-height: 32px;
}
.App .selector .special
{
  background-color: white;
  color: #161716;
}